{{define "content"}}

<section class="wrapper special">
	<header class="major">
		<h2>Roast Schedule</h2>
		<p>Here's when our next several roasts are happening</br> Sign up or log in to buy</p>
	</header>
  	<div class="cal1"></div>
	<div class="container">
		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
						<th>Roast Date</th>
						<th>Description</th>
	    				<th>Price</th>
					</tr>
				</thead>
				<tbody>
					{{ range .ProductRows }}
					<tr>
						<td>{{ .FormattedRoastDate }}</td>
						<td>{{ .Description }}</td>
	    				<td><a class="button" href="">${{ .Price }}</a></td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</div>
</section>

{{end}}
