{{define "content"}}

<section class="wrapper special">
    <header class="major">
        <h2>Roast Schedule</h2>
        <p>Click the price to buy a roast</p>
    </header>
	<div class="container">
		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
						<th>Day</th>
						<th>Bean</th>
                        <th>Price</th>						
					</tr>							
				</thead>
				<tbody>
					<tr>
						<td>Tuesday, September 14th 2015</td>
						<td>Guatemalan</td>
						<td><a class="button special" href="">$19.99</a></td>
					</tr>
					<tr>
                        <td>Tuesday, September 14th 2015</td>
                        <td>Guatemalan</td>
                        <td><a class="button special" href="">$19.99</a></td>
					</tr>
					<tr>
                        <td>Tuesday, September 14th 2015</td>
                        <td>Guatemalan</td>
                        <td><a class="button special" href="">$19.99</a></td>
					</tr>
					<tr>
                        <td>Tuesday, September 14th 2015</td>
                        <td>Guatemalan</td>
                        <td><a class="button special" href=""><div class="1u">$19.99</div></a></td>
					</tr>
					<tr>
                        <td>Tuesday, September 14th 2015</td>
                        <td>Guatemalan</td>
                        <td><a class="button special" href="">$19.99</a></td>	
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

{{end}}
