<!DOCTYPE HTML>
<!--
  Scalar by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>
  <head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>

  <body>
    <!-- Header -->
    <header id="header">
      <div class="container">
        <h1><a href="index.html">First Pop Coffee</a></h1>
        <nav id="nav">
          <ul>
            <li class="current"><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

		<section id="five" class="wrapper style3 special">
			<div class="container">
				<div class="box alt">
					<div class="row uniform 200%">
						<div class="4u 6u(large) 12u$(medium)">
							<section class="feature">
								<span class="icon major fa-desktop"></span>
								<h3>Tuesday, September 14th 2015</h3>
								<p>Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu etiam magna risus vitae lorem ipsum dolor etiam.</p>
							</section>
						</div>
						<div class="4u 6u$(large) 12u$(medium)">
							<section class="feature">
								<span class="icon major fa-desktop"></span>
								<h3>Fusce pellentes</h3>
								<p>Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu etiam magna risus vitae lorem ipsum dolor etiam.</p>
							</section>
						</div>
						<div class="4u$ 6u(large) 12u$(medium)">
							<section class="feature">
								<span class="icon major fa-briefcase"></span>
								<h3>Vestibulum commod</h3>
								<p>Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu etiam magna risus vitae lorem ipsum dolor etiam.</p>
							</section>
						</div>
						<div class="4u 6u$(large) 12u$(medium)">
							<section class="feature">
								<span class="icon major fa-paper-plane"></span>
								<h3>Nulla adipiscing</h3>
								<p>Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu etiam magna risus vitae lorem ipsum dolor etiam.</p>
							</section>
						</div>
						<div class="4u 6u(large) 12u$(medium)">
							<section class="feature">
								<span class="icon major fa-bar-chart"></span>
								<h3>Ut aliquam sollicitu</h3>
								<p>Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu etiam magna risus vitae lorem ipsum dolor etiam.</p>
							</section>
						</div>
						<div class="4u$ 6u$(large) 12u$(medium)">
							<section class="feature">
								<span class="icon major fa-tag"></span>
								<h3>Cras iaculis ultri</h3>
								<p>Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu etiam magna risus vitae lorem ipsum dolor etiam.</p>
							</section>
						</div>
					</div>
				</div>
			</div>
		</section>

    <!-- Footer -->
      <footer id="footer">
        <ul class="major-icons">
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. All rights reserved.</p>
      </footer>
    </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>
  </body>
</html>